body {
    background-color: #B3A394;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #CDD7D6;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #FFFFFF;
}
div#data_table {
    margin: 0 auto;
    padding: 4rem 0;
    width: 60rem;
}
p, h1{
    text-align: center;
}
#genre-list {
    list-style: none; /* Remove bullet points */
    padding: 0;
    column-gap: 20px; /* Adjust the gap between columns as needed */
    column-count: 4;
    text-align: center; /* Center-align the list */
}
#name-list {
    list-style: none; /* Remove bullet points */
    padding: 0;
    column-gap: 2px; /* Adjust the gap between columns as needed */
    column-count: 26;
    text-align: center; /* Center-align the list */
}

#name-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#genre-list li {
    margin: 5px 0;
    text-align: center;
    font-size: 18px;
}
.center_body{
    display: flex;
    justify-content: center;
    align-items: center;

    & li & a {

    }
}
.browser_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}