body {
    background-color: #B3A394;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #CDD7D6;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #FFFFFF;
}
div#data_table {
    margin: 0 auto;
    padding: 4rem 0;
    width: 60rem;
}
p, h1{
    text-align: center;
}